<div class="container" style="text-align: center;">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <div class="text" style="font-weight: 300;">:/ Oops...Algum erro ocorreu</div>
                <div class="text">Você pode estar tentando acessar uma página que não existe.</div>
                <div class="text">Ou talvez tenha extrapolado as requisições da api do github...</div>
            </div>
        </div>
    </div>
</div>            